<template>
    <div 
    class="flex h-full flex-col relative z-40"
    style="width: 100%">
        <!-- 
        ===================================
        Screen Stage
        ===================================
        -->
        <div class="flex-1 flex items-center relative pb-6">
            <div 
            class="absolute pin-l pin-t w-full h-full" 
            @click="clearActiveSource()"></div>

            <div class="w-1/3 flex items-center justify-center">
                <div class="w-4/5">
                    <av-screen
                    :device="screenLeft"
                    :showing="screenLeftShowing"
                    :show-controls="hasActiveSource"
                    @click.native="handleScreenSelection(screenLeft)"
                    @toggle-power="onTogglePower(screenLeft)"
                    @toggle-listening="onToggleListening(screenLeft)">
                        <div 
                        v-if="!hasActiveSource && screenLeft.showing"
                        class="absolute flex w-full h-full items-center justify-center z-10">
                            <div class="p-1 text-blue-dark text-sm bg-blue-light">{{ screenLeftShowing.displayName }}</div>
                        </div>
                    </av-screen>
                </div>
            </div>
            <div class="relative w-1/3 flex flex-col items-center justify-center">
                <div class="w-full">
                    <av-screen
                    :device="screenCenter"
                    :showing="screenCenterShowing"
                    :show-controls="hasActiveSource"
                    @click.native="handleScreenSelection(screenCenter)"
                    @toggle-power="onTogglePower(screenCenter)"
                    @toggle-listening="onToggleListening(screenCenter)">
                        <div 
                        v-if="!hasActiveSource && screenCenter.showing"
                        class="absolute flex w-full h-full items-center justify-center z-10">
                            <div class="p-1 text-blue-dark text-sm bg-blue-light">{{ screenCenterShowing.displayName }}</div>
                        </div>
                    </av-screen>
                </div>

                <transition
                name="sources"
                enter-active-class="animated fadeIn"
                leave-active-class="animated zoomOut">
                    <div 
                    v-if="hasActiveSource"
                    class="absolute pin-b uppercase text-orange-light text-sm font-bold tracking-wide" style="margin-bottom: -50px">
                        Choose your display
                    </div>
                </transition>
            </div>
            <div class="w-1/3 flex items-center justify-center">
                <div class="w-4/5">
                    <av-screen
                    :device="screenRight"
                    :showing="screenRightShowing"
                    :show-controls="hasActiveSource"
                    @click.native="handleScreenSelection(screenRight)"
                    @toggle-power="onTogglePower(screenRight)"
                    @toggle-listening="onToggleListening(screenRight)">
                        <div 
                        v-if="!hasActiveSource && screenRight.showing"
                        class="absolute flex w-full h-full items-center justify-center z-10">
                            <div class="p-1 text-blue-dark text-sm bg-blue-light">{{ screenRightShowing.displayName }}</div>
                        </div>
                    </av-screen>
                </div>
            </div>
        </div>

        <div 
        class="flex-initial relative transition-dimensions overflow-hidden"
        :class="{
            'h-0': !hasActiveSource,
            'h-40': hasActiveSource,
        }">
            <div class="relative flex justify-center p-3">
                <div 
                class="absolute pin-l pin-t w-full h-full" 
                @click="clearActiveSource()"></div>

                <div 
                class="relative group flex flex-col items-center justify-center w-32 h-32 mr-3 rounded-full text-grey bg-brand-3 cursor-pointer shadow-lg hover:text-white hover:bg-orange z-10"
                @click="showHelp">
                    <icon name="help-circle" width="48" height="48" class="text-grey group-hover:text-white"></icon>
                    <span class="mt-1 uppercase font-bold text-sm">Help</span>
                </div>
                
                <div
                v-if="showVcButtonTransition"
                class="relative transition-dimensions overflow-visible z-10"
                :class="{
                    'w-0': !activeSourceIsSwitchable,
                    'w-32': activeSourceIsSwitchable,
                }">
                    <transition
                    name="vc"
                    enter-active-class="animated fadeInRight"
                    leave-active-class="animated fadeOutRight">
                        <div 
                        v-if="activeSourceIsSwitchable"
                        class="group relative flex flex-col items-center justify-center w-32 h-32 ml-3 rounded-full cursor-pointer shadow-lg"
                        :class="{
                            'text-grey bg-brand-3 hover:text-white hover:bg-orange': !activeSourceIsSwitched,
                            'pulser pulser-orange text-white bg-orange': activeSourceIsSwitched,
                        }"
                        @click="setUsbSwitchInput">
                            <icon name="video" width="48" height="48" class="group-hover:text-white"></icon>
                            <span class="mt-1 uppercase font-bold text-sm" v-html="activeSourceIsSwitched? 'Enabled' : 'Enable'"></span>
                        </div>
                    </transition>
                </div>
            </div>
        </div>


        <!-- 
        ===================================
            Sources Bar
        ===================================
        -->
        <div 
        id="controls" 
        class="relative p-2 overflow-hidden bg-grey-light"
        style="height:145px">
            <div 
            class="absolute pin-l pin-t w-full h-full" 
            @click="clearActiveSource()"></div>
                
            <!-- 
            -----------------------------------
                Sources
            -----------------------------------
            -->
            <transition
            name="sources"
            enter-active-class="animated fadeIn">
                <div 
                v-if="!hasActiveScreen"
                id="pip_sources" 
                class="flex justify-center overflow-x-scroll">
                    <av-source-tile
                    v-for="source in sources" 
                    :key="source.name"
                    :source="source"
                    :is-selected="source.name == activeSource.name"
                    :is-enabled="source.usbPort !== 0 && usbInput == source.usbPort"
                    :class="{
                        'opacity-50': hasActiveSource && activeSource.name !== source.name
                    }"
                    @click.native="handleSourceSelection(source)"></av-source-tile>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import avScreen from './av-screen.vue'
import avSourceTile from './av-source-tile.vue'

export default {
    components: {
        avScreen,
        avSourceTile
    },

    sockets: {
        connect: function () {
            console.log('socket connected')

            // Devices pushed to us by the Node Js on connect
        },

        'devices.all': function (data) {
            console.log('devices.all event caught')

            console.log(data)

            this.devices = data
        },

        'usbswitch.input': function (data) {
            console.log('usbswitch.input event caught')

            console.log(data)

            this.usbInput = data
        },
        
        // Emittable socket events
        // ---------------------------
        // 'avrouter.route.show'
        // 'avrouter.output.listen'
        // 'avrouter.output.listen.stop'
        // 'usbswitch.input.set'
        // 'device.power.on'
        // 'device.power.off'
    },

    data () {
        return {
            devices: [],
            usbInput: 0,

            activeScreen: {},
            activeSource: {},

            showVcButtonTransition: false,
        }
    },

    computed: {
        screens(){
            return this.devices.filter(device => device.outputPort !== 0)
        },

        sources(){
            return this.devices.filter(device => device.inputPort !== 0)
        },

        hasActiveScreen(){
            return this.activeScreen.name? true : false
        },
        hasActiveSource(){
            return this.activeSource.name? true : false
        },
        activeSourceIsSwitchable(){
            return this.activeSource.usbPort !== 0
        },
        activeSourceIsSwitched(){
            return this.usbInput == this.activeSource.usbPort
        },

        screenLeft(){
            return this.getDeviceByName('leftDisplay')
        },
        screenCenter(){
            return this.getDeviceByName('videoWall')
        },
        screenRight(){
            return this.getDeviceByName('rightDisplay')
        },
        comfortMonitor(){
            return this.getDeviceByName('comfortMonitor')
        },
        
        screenLeftShowing(){
            return this.getDeviceByName(this.screenLeft.showing)
        },
        screenCenterShowing(){
            return this.getDeviceByName(this.screenCenter.showing)
        },
        screenRightShowing(){
            return this.getDeviceByName(this.screenRight.showing)
        },

        activeScreenSelectedSources(){
            return this.sources.filter(source => source.name == this.activeScreen.showing)
        },
        activeScreenSelectableSources(){
            return this.sources.filter(source => source.name !== this.activeScreen.showing)
        },
    },

    watch: {
        activeSource(newVal, oldVal){
            // Setup the source options transition
            // If we have set an activeSource
            // - showing
            if(!oldVal.name){
                this.showVcButtonTransition = this.activeSourceIsSwitchable
                
                setTimeout(() => {
                    this.showVcButtonTransition = true
                }, 600)

            // If we have unset the activeSource
            // - hiding
            }else if(!newVal.name){
                this.showVcButtonTransition = oldVal.usbPort !== 0
            
            // If we have switched to a new activeSource
            // - switching
            }else{
                this.showVcButtonTransition = true
            }

            // Exit here if we've no new source
            if(!newVal.name) return false

            // Emit socket event
            console.log('avrouter.route.show event emitted')
            this.$socket.emit('avrouter.route.show', {
                input: this.activeSource, 
                output: this.comfortMonitor
            })
        }
    },

    methods: {
        handleSourceSelection(source){
            if(this.activeSource.name == source.name) return this.clearActiveSource()

            this.activeSource = source
        },
        handleScreenSelection(screen){
            if(!this.hasActiveSource) return false

            this.showActiveSourceOn(screen)
            this.clearActiveSource()
        },
        showActiveSourceOn(screen){
            screen.showing = this.activeSource.name

            console.log('avrouter.route.show event emitted')

            this.$socket.emit('avrouter.route.show', {
                input: this.activeSource, 
                output: screen
            })

            this.clearActiveSource()
        },

        clearActiveSource(){
            this.activeSource = {}
            this.showScreenSources = false
        },
        deselectActiveScreen(){
            this.activeSource = {}
            this.activeScreen = {}
            this.showScreenSources = false
        },

        getDeviceByName(name){
            let devices = this.devices.filter(device => device.name == name)

            return devices.length > 0? devices[0] : {}
        },

        setUsbSwitchInput(){
            console.log('usbswitch.input.set event emitted')

            this.$socket.emit('usbswitch.input.set', this.activeSource.usbPort)
        },

        showHelp(){
            console.log('show help event emitted')
            
            this.$emit('show-help', this.activeSource)
        },


        // ----------------------------------------------
        // Event handlers
        // ----------------------------------------------
        onTogglePower(device){
            console.log('onTogglePower called')

            let event = device.powerState == 'on'? 'device.power.off' : 'device.power.on'

            console.log(event + ' event emitted')
            this.$socket.emit(event, device.name)
        },
        onToggleListening(device){
            console.log('onToggleListening called')

            let event = 'avrouter.output.listen'
            if(device.isListening) event += '.stop'

            console.log(event + ' event emitted')
            this.$socket.emit(event, device)
        },
    },
}
</script>

<style>
    /* Override Animate.css */
    .animated{
        -webkit-animation-duration: .6s !important;
        animation-duration: .6s !important;
    }

    .transition-dimensions{
        transition: width .5s, height .5s;
        transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
    }
    .w-0{
        width: 0;
    }
    .h-0{
        height: 0;
    }


    /* Additional Pulser Animation */
    .pulser{
        position: relative;
        z-index: 5;
    }
    .pulser:not(.animated):after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        animation: pulser 1.75s infinite;
        border-radius: 9999px;
        box-sizing:content-box;
        z-index: -1;
    }
    .pulser:hover:after{
        display: none;
    }

    @keyframes pulser {
        0% {
            opacity: 0.8;
            padding: 0;
        }
        70% {
            opacity: 0;
            padding: 10px;
            top: -10px;
            left: -10px;
        }
        100% {
            opacity: 0;
            padding: 10px;
            top: -10px;
            left: -10px;
        }
    }

    .rotating:not(.animated){
        animation: rotating 1s infinite;
    }
    
    @keyframes rotating {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* Windows specific */
    html {
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    ::-ms-clear {
        display: none;
    }
</style>