<template>
    <div 
    class="datepicker inline-block">
        <div 
        ref="trigger"
        :class="['trigger', this.opts.triggerClass]"
        @click="show = true">
            <slot :date="date">
                <input 
                :name="name"
                type="text" 
                class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" 
                v-model="selectedReadable">
            </slot>
        </div>

        <div 
        ref="picker"
        class="picker"
        :class="{
            'text-gray-900': !dark,
            'text-white': dark,
            'z-50': !inline,
            'is-inline mt-1': inline,
        }"
        style="width:320px">
            <div v-if="inline || show">
                <div ref="arrow"></div>

                <div 
                class="picker-inner pt-3 pb-2 px-2 rounded-lg"
                :class="{
                    'bg-white': !dark,
                    'bg-gray-900': dark,
                    'shadow-datepicker': !inline,
                    'border border-gray-300': inline,
                }">
                    <div class="flex items-center font-bold mb-1">
                        <div 
                        class="flex-initial flex items-center justify-center w-8 h-8 rounded-full leading-none select-none"
                        :class="[
                            !canSubTime ? 'opacity-50' : '',
                            canSubTime ? 'cursor-pointer ' + _theme.navHover : '',
                        ]"
                        @click="subTime()">
                            <svg class="w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="flex-1 text-center">
                            <span 
                            v-if="view == 'days'"
                            class="p-1 -m-1 cursor-pointer rounded-sm"
                            :class="[
                                _theme.navHover
                            ]"
                            @click="changeView('months')">{{ focus.format('MMMM') }}</span> 

                            <span 
                            v-if="view !== 'years'"
                            class="p-1 -m-1 cursor-pointer rounded-sm"
                            :class="[
                                _theme.navHover
                            ]"
                            @click="changeView('years')">{{ focus.format('YYYY') }}</span>

                            <span v-if="view == 'years'">
                                {{ this.focus.clone().subtract(4, 'years').format('YYYY') }} - {{ this.focus.clone().add(7, 'years').format('YYYY') }}
                            </span>
                        </div>
                        <div 
                        class="flex-initial flex items-center justify-center w-8 h-8 rounded-full leading-none select-none"
                        :class="[
                            !canAddTime ? 'opacity-50' : '',
                            canAddTime ? 'cursor-pointer ' + _theme.navHover : '',
                        ]"
                        @click="addTime()">
                            <svg class="w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    </div>

                    <!--
                    --------------------------------------- 
                        Days View 
                    --------------------------------------- 
                    -->
                    <div
                    v-if="view == 'days'">
                        <div class="flex uppercase py-2">
                            <div 
                            v-for="weekDay in weekDays" 
                            class="text-center text-gray-400 text-xs font-semibold" 
                            style="width: 14.28%">
                                {{ weekDay }}
                            </div>
                        </div>

                        <div class="flex flex-wrap">
                            <div 
                            v-for="day in days" 
                            class="flex items-center py-1 group" 
                            style="width: 14.28%" 
                            :class="[
                                isSelectable(day) ? 'cursor-pointer' : '',
                                !isSelectable(day) ? 'cursor-default' : '',
                                isOverflow(day) && isSelectable(day) && !inFullRange(day) ? 'opacity-50' : '',
                                !isSelectable(day) ? 'opacity-25 line-through' : '',
                                inRange(day) ? 'range' : '',
                                isWeekend(day) && !inFullRange(day) ? _theme.weekendBg : '',
                            ]"
                            @click="selectDay(day)"
                            @mouseenter="marshallDayEnter(day)"
                            @mouseleave="marshallDayLeave(day)">
                                <div class="flex w-full items-center justify-center">
                                    <div 
                                    class="flex items-center justify-center h-10 text-sm leading-none z-5" 
                                    :class="[ 
                                        isSelected(day) ? _theme.daySelected : '',
                                        !isSelected(day) && isSelectable(day) && !isRangeEnd(day) ? _theme.dayHover : '',
                                        !isSelected(day) && isRangeEnd(day) ? _theme.rangeEndHover : '',
                                        isToday(day) && !inFullRange(day) && !isSelected(day) ? 'border border-gray-400' : '',
                                        
                                        !inRange(day) ? 'w-10 rounded-full' : '',
                                        inRange(day) ? ['w-full', _theme.dayInRange] : '',
                                        isRangeStart(day) ? 'w-full rounded-l-full rounded-r-none border-0' : '',
                                        isRangeEnd(day) ? 'w-full rounded-r-full rounded-l-none border-0' : '',
                                    ]">{{ day.format('D') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 
                    --------------------------------------- 
                        Months View
                    --------------------------------------- 
                    -->
                    <div
                    v-if="view == 'months'">
                        <div class="flex flex-wrap">
                            <div 
                            class="w-1/4" 
                            v-for="month in months"
                            @click="selectMonth(month)">
                                <div 
                                class="m-1 py-5 cursor-pointer text-center text-sm leading-none rounded-sm hover:text-white"
                                :class="[ 
                                    _theme.monthBg,
                                    isSelected(month)? _theme.daySelected : '',
                                    month.format('MY') == today.format('MY') && !isSelected(month)? _theme.currentMonth : '',
                                    !isSelectable(month)? 'opacity-25 line-through' : '',
                                ]">
                                    {{ month.format('MMM') }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 
                    --------------------------------------- 
                        Years View
                    --------------------------------------- 
                    -->
                    <div
                    v-if="view == 'years'">
                        <div class="flex flex-wrap">
                            <div 
                            class="w-1/4" 
                            v-for="year in years"
                            @click="selectYear(year)">
                                <div 
                                class="m-1 py-5 cursor-pointer text-center text-sm leading-none rounded-sm hover:text-white"
                                :class="[ 
                                    _theme.monthBg,
                                    isSelected(year)? _theme.daySelected : '',
                                    year.format('Y') == today.format('Y') && !isSelected(year)? _theme.currentMonth : '',
                                    !isSelectable(year)? 'opacity-25 line-through' : '',
                                ]">
                                    {{ year.format('YYYY') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>




<script>
    const _      = require('lodash')
    const moment = require('moment')

    import { createPopper } from '@popperjs/core/lib/popper-lite'
    import flip from '@popperjs/core/lib/modifiers/flip'
    import preventOverflow from '@popperjs/core/lib/modifiers/preventOverflow';

    import { RRule, RRuleSet, rrulestr } from 'rrule'

    export default {
        props: {
            // Default date to show in the picker
            default: {
                default: null,
            },

            // Default date format
            format: {
                default: 'DD/MM/YYYY'
            },


            // Action: input, navigate
            // -----------------------------
            action: {
                default: 'input',
                validator: function (value) {
                    return ['input', 'navigate'].indexOf(value) !== -1
                }
            },


            // Input name
            // -----------------------------
            name: {
                default: ''
            },


            // Picker type
            // -----------------------------
            // e.g. single, range, multiple (in development)
            type: {
                default: 'single'
            },

            // can pick: days, months, years
            picks: {
                default: 'days',
                validator: function (value) {
                    return ['days', 'months', 'years'].indexOf(value) !== -1
                }
            },


            // Picker layout/theme
            // -----------------------------
            inline: {
                type: Boolean,
                default: false
            },
            dark: {
                type: Boolean,
                default: false
            },
            theme: {
                type: String,
                default: 'blue'
            },
            placement: {
                default: 'bottom-start'
            },


            // Limit date selection
            // -----------------------------
            // By past/future
            disablePast: {
                type: Boolean,
                default: false
            },
            disableFuture: {
                type: Boolean,
                default: false
            },

            // By recurrence rule
            disableRule:{
                default: null
            },

            // By min/max date
            from: {
                default: null
            },
            to: {
                default: null
            },


            // Additional options
            // -----------------------------
            options: {
                type: Object,
                default: function(){
                    return {}
                }
            }
        },

        data() {
            return {
                // Main dates
                date: null,
                selected: null,
                today: moment().startOf('day'),
                focus: moment().startOf('day'),

                // View: days, months, years
                view: 'days',

                show: false,
                weekStartsOn: 1,

                // Elements
                trigger: null,
                picker: null,
                popper: null,

                // Date limits
                canSelectPast: true,
                canSelectFuture: true,
                minDate: null,
                maxDate: null,

                // Reccurance pattern
                denyPattern: null,
                denyDates: null,

                // Range
                rangeHover: null,

                // Templates
                hasTemplate: false,
                template: null,
                templateMatches: null,

                // Options
                opts: {
                    // Days of week format
                    dowFormat: 'ddd',

                    // Trigger class
                    triggerClass: 'inline-block',

                    // Week starts on
                    weekStartsOn: 1,

                    // Transitions
                    enterTransition: 'fadeInDown',
                    leaveTransition: 'fadeOutDown',

                    // With pointer?
                    withPointer: true,
                },
            }
        },

        computed: {
            selectedReadable(){
                if(this.selected == null) return ''

                if(this.type == 'range'){
                    let dates = []
                    
                    this.selected.map(date => {
                        dates.push(date.format(this.format))
                    })

                    return dates.join(' - ')
                }

                return this.selected.format(this.format)
            },

            weekEndsOn(){
                return (this.opts.weekStartsOn + 6) > 7? this.opts.weekStartsOn - 1 : this.opts.weekStartsOn + 6
            },

            day(){
                return this.focus.format('D')
            },

            month(){
                return this.focus.format('M')
            },

            year(){
                return this.focus.format('YYYY')
            },

            weekDays(){
                let dow  = this.opts.weekStartsOn
                let days = []

                for(let i = 1; i <= 7; i++){
                    days.push(moment().isoWeekday(dow).format(this.opts.dowFormat))

                    if(dow < 7){
                        dow++
                    }else{
                        dow = 1
                    }
                }

                return days
            },

            days(){
                let days = []

                let monthStart    = this.focus.clone().startOf('month')
                let monthStartDay = parseInt(monthStart.format('E'))
                let startOffset   = monthStartDay < this.opts.weekStartsOn? monthStartDay + 7 : monthStartDay
                let subDays       = startOffset - this.opts.weekStartsOn

                let monthEnd    = this.focus.clone().endOf('month')
                let monthEndDay = parseInt(monthEnd.format('E'))
                let endOffset   = monthEndDay <= this.weekEndsOn? monthEndDay : monthEndDay - 7
                let addDays     = this.weekEndsOn - endOffset

                let start     = monthStart.subtract(subDays, 'days')
                let end       = monthEnd.add(addDays, 'days')
                let totalDays = Math.abs(start.diff(end, 'days')) + 1

                for(let i = 1; i <= totalDays; i++){
                    days.push(start.clone())

                    start.add(1, 'days')
                }

                return days
            },

            months(){
                let months = []
                let start = this.focus.clone().startOf('year')

                for(let i = 1; i <= 12; i++){
                    months.push(start.clone())

                    start.add(1, 'months')
                }

                return months
            },

            years(){
                let years = []
                let start = this.focus.clone().subtract(4, 'years')

                for(let i = 1; i <= 12; i++){
                    years.push(start.clone())

                    start.add(1, 'years')
                }

                return years
            },

            // Check if we can go back/forward in focus time
            canAddTime(){
                let offset = this.view == 'years'? 12 : 1,
                    unit = this.view == 'days'? 'months' : 'years',
                    date = this.focus.clone().startOf('month').add(offset, unit)

                if(this.maxDate !== null && date.isAfter(this.maxDate.clone().startOf('month'))){
                    return false
                }
                
                return this.canSelectFuture || !date.isAfter(this.today.clone().startOf('month'))
            },
            canSubTime(){
                let offset = this.view == 'years'? 12 : 1,
                    unit = this.view == 'days'? 'months' : 'years',
                    date = this.focus.clone().startOf('month').subtract(offset, unit)

                if(this.minDate !== null && date.isBefore(this.minDate.clone().startOf('month'))){
                    return false
                }
                
                return this.canSelectPast || !date.isBefore(this.today.clone().startOf('month'))
            },

            // Range
            isSelectingRange(){
                if(this.type !== 'range' || this.selected == null) return false

                return this.selected.length == 1
            },

            // Theme
            _theme() {
                let color = this.theme
                let theme = {
                    light: {
                        weekendBg: 'bg-gray-100',
                        navHover: 'hover:bg-gray-300',
                        dayHover: `group-hover:bg-${color}-200`,
                        daySelected: `bg-${color}-500 text-white`,
                        monthBg: `bg-gray-100 hover:bg-${color}-500`,
                        currentMonth: 'border-gray-300 border hover:border-transparent',
                        dayInRange: `text-${color}-500 bg-${color}-300`,
                        rangeEndHover: `group-hover:text-${color}-500 group-hover:bg-${color}-300`
                    },
                    dark: {
                        weekendBg: 'bg-gray-800 bg-opacity-50',
                        navHover: 'hover:bg-gray-800',
                        dayHover: `group-hover:bg-${color}-900`,
                        daySelected: `bg-${color}-500 text-white`,
                        monthBg: `bg-transparent hover:bg-${color}-500`,
                        currentMonth: 'border-gray-700 border hover:border-transparent',
                        dayInRange: `text-${color}-300 bg-${color}-700`,
                        rangeEndHover: `group-hover:text-${color}-300 group-hover:bg-${color}-700`
                    }
                }

                return theme[this.dark? 'dark' : 'light']
            },

            detectClickOutside() {
                return (e) => {
                    if(!this.show){
                        return
                    }

                    if(this.$el == e.target || !this.$el.contains(e.target)){
                        console.log('hiding')
                        this.show = false
                    }
                }
            }
        },

        watch: {
            selected(newValue, oldValue) {
                this.date = newValue
                
                // Hide on selection
                if(this.type == 'range'){
                    if(newValue !== null && newValue.length > 1) this.show = false
                }else{
                    this.show = false
                }

                // If we have a template replace the text
                if(this.hasTemplate){
                    this.parseTemplate()
                }
            },

            show(newValue, oldValue) {
                if(newValue){
                    this.updatePosition()
                }
            },
        },

        mounted() {
            // Handle any options passed in via props
            // ---------------------------------------------
            this.setupPickerOptions()


            // Hide element on click outside
            // ---------------------------------------------
            window.addEventListener('click', this.detectClickOutside, {
                capture: true,
                passive: true
            })


            // Setup Popper Instance
            // ---------------------------------------------
            this.setupInteraction()


            // Set date select limits
            // ---------------------------------------------
            this.setupPickerDateLimits()


            // Set the initial date and view
            // e.g. days, months, years
            // ---------------------------------------------
            this.setupPickerFocus()


            // Setup the template parsing
            // (if we have a tenplate)
            // ---------------------------------------------
            this.setupPickerTemplate()
        },

        beforeDestroy() {
            window.removeEventListener('click', (e) => {
                if(!this.show){
                    return
                }

                if(this.$el == e.target || !this.$el.contains(e.target)){
                    this.show = false
                }
            })
        },

        methods: {
            setupPickerOptions(){
                _.forEach(this.options, (value, key) => {
                    if(key in this.opts) this.opts[key] = value
                })
            },

            setupInteraction(){
                this.trigger = this.$refs.trigger
                this.picker  = this.$refs.picker

                if(this.inline) return false

                this.$nextTick(() => {
                    let modifiers = [flip, preventOverflow]

                    if(this.opts.withPointer) {
                        modifiers.push({
                            name: 'arrow',
                            options: {
                                element: this.$refs.arrow,
                                padding: 5,
                            },
                        })
                    }

                    this.popper = createPopper(this.trigger, this.picker, {
                        placement: this.placement,
                        modifiers: modifiers,
                    })
                })
            },

            setupPickerDateLimits(){
                // Set min/max date limits
                if(this.from !== null){
                    let from = moment(this.from)
                    if(!from.isValid()) console.error("The Datepicker 'from' date is invalid")
                    this.minDate = from
                }
                if(this.to !== null){
                    let to = moment(this.to)
                    if(!to.isValid()) console.error("The Datepicker 'to' date is invalid")
                    this.maxDate = to
                }

                // Set past/future limits
                this.canSelectPast   = !this.disablePast
                this.canSelectFuture = !this.disableFuture

                // Set recurrence limits
                if(this.disableRule !== null) this.denyPattern = RRule.fromString(this.disableRule)
                this.updateDenyDates()
            },

            setupPickerFocus(){
                let defaultDate = this.default

                if(defaultDate !== null){
                    defaultDate = Array.isArray(defaultDate)? defaultDate : [defaultDate]
                    defaultDate = defaultDate.map(date => {
                        // Check for allowed strings
                        if(['now', 'today'].indexOf(date.toLowerCase()) !== -1){
                            return moment()
                        }

                        return moment(date)
                    })

                    defaultDate.forEach(date => {
                        // Check date can be selected
                        if(!this.isSelectable(date)){
                            return console.error('This date cannot be selected, it is outside the allowed range!')
                        }

                        // Select date
                        this.select(date, true)
                    })
                    
                    this.focusOn(defaultDate[0], this.picks)
                }else{
                    defaultDate = this.minDate !== null? this.minDate : this.today

                    this.focusOn(defaultDate, this.picks)
                }
            },

            setupPickerTemplate(){
                // Check for a slot template
                if(this.$slots.default !== undefined){
                    let content = this.trigger.innerHTML

                    // Search for template vars
                    this.hasTemplate = content.trim().indexOf('%date') !== -1

                    // Set template
                    if(this.hasTemplate){
                        this.template = content.trim()
                    }
                }
            },

            parseTemplate(){
                // Get the template matches if needed
                if(this.templateMatches == null){
                    let reg = /%date(.*?)%/g
                    let matches = this.template.match(reg)

                    this.templateMatches = matches
                }

                // Get the original template
                let template = this.template

                // Loop through the %date% matches and update the new template var
                this.templateMatches.map(match => {
                    let parts  = this.replaceAll(match, '%', '').split('|')
                    let format = parts.length > 1? parts[1] : this.format

                    template = this.replaceAll(template, match, this.selected.format(format))
                })

                // Update the slot
                this.trigger.innerHTML = template
            },

            updatePosition(){
                if(this.inline || this.popper == null) return false;

                this.$nextTick(function(){
                    this.popper.update();
                });
            },

            updateDenyDates(){
                if(this.denyPattern == null) return false

                let from = this.focus.clone().subtract(1, 'months').startOf('month').toDate()
                let to   = this.focus.clone().add(1, 'months').endOf('month').toDate()

                this.denyDates = this.denyPattern.between(from, to)
            },

            select(date, selectOnly = false){
                if(!this.isSelectable(date)) return false

                if(this.type == 'range'){
                    this.selectRangeDate(date)

                    return false
                }

                // Update selected
                this.selected = date

                // Exit here if we only need to select a date and nothing else
                if(selectOnly) return false

                // Emit select event
                this.$nextTick(function(){
                    this.$emit('select', this.selected)
                })

                // Fire the action
                if(this.action == 'navigate') this.navigate()
            },

            deselect(date){
                if(this.selected == date){
                    this.selected = null

                    return false
                }

                if(this.selected !== null && Array.isArray(this.selected)){
                    this.selected = this.selected.filter(selected => {
                        return selected !== date
                    })

                    if(this.selected.length == 0) this.selected = null
                }
            },

            focusOn(date, view = null){
                // Check if we can alter the focus date with this date
                if(!this.isFocusable(date)) return false

                // Set the focus
                this.focus = date

                // Set the view if defined
                if(view !== null) this.view = view

                // Update deny dates array
                this.updateDenyDates()

                // Update the picker position
                // - in case on months with more/less weeks
                this.updatePosition();

                // Emit focus event
                this.$nextTick(function(){
                    this.$emit('focus', this.focus)
                })
            },

            inFocus(date){
                return this.focus !== null && date.format('DMY') == this.focus.format('DMY')
            },

            isPast(date){
                return date.isBefore(this.today)
            },

            isFuture(date){
                return date.isAfter(this.today.clone().endOf('day'))
            },

            isFocusable(date){
                // Check we can select past dates
                if(!this.canSelectPast && this.isPast(date)) return false

                // Check we can select future dates
                if(!this.canSelectFuture && this.isFuture(date)) return false

                // Check for a minDate
                if(this.minDate !== null && date.isBefore(this.minDate)) return false

                // Check for a maxDate
                if(this.maxDate !== null && date.isAfter(this.maxDate)) return false

                return true
            },

            isSelectable(date){
                // Check if we have recurrance dates set
                if(this.denyDates !== null && this.denyDates.length > 0){
                    for (let i = 0; i < this.denyDates.length; i++) {
                        if(moment(this.denyDates[i]).isSame(date, 'day')) return false
                    }
                }

                return this.isFocusable(date)
            },

            isSelected(date){
                let format = this.getIsSelectedFormat()

                if(this.type == 'range' && this.selected !== null){
                    for (let i = 0; i < this.selected.length; i++) {
                        if(date.format(format) == this.selected[i].format(format)) return true
                    }

                    return false
                }

                return this.selected !== null && date.format(format) == this.selected.format(format)
            },

            getIsSelectedFormat(){
                let format = 'DMY'

                if(this.picks == 'months') format = 'MY'
                if(this.picks == 'years') format = 'Y'

                return format
            },


            // Actions
            // -----------------------------
            navigate(){
                let url  = new URL(window.location)
                let date = this.selected.format(this.format)

                if(url.searchParams.has('date')){
                    url.searchParams.set('date', date)
                }else{
                    url.searchParams.append('date', date)
                }

                window.location = url.href
            },

            // Day specific
            // -----------------------------
            isToday(day){
                return day.format('DMY') == this.today.format('DMY')
            },
            isOverflow(day){
                return day.format('M') !== this.focus.format('M')
            },
            isWeekend(day){
                day = day.format('E')
                
                return day >= 6
            },
            isDay(date, day){
                return moment(date).format('dddd').toLowerCase() == day.toLowerCase()
            },

            // Date addition/subtraction
            // -----------------------------
            addDay(num = 1){
                this.focusOn(this.focus.clone().add(num, 'days'))
            },
            subDay(num = 1){
                this.focusOn(this.focus.clone().subtract(num, 'days'))
            },

            addMonth(num = 1){
                this.focusOn(this.focus.clone().add(num, 'months'))
            },
            subMonth(num = 1){
                this.focusOn(this.focus.clone().subtract(num, 'months'))
            },

            addYear(num = 1){
                this.focusOn(this.focus.clone().add(num, 'years'))
            },
            subYear(num = 1){
                this.focusOn(this.focus.clone().subtract(num, 'years'))
            },

            getTimeMethod(prefix){
                return prefix + (this.view == 'days'? 'Month' : 'Year')                
            },
            addTime(num = 1){
                let method = this.getTimeMethod('add')
                num = this.view == 'years'? 12 : 1

                this[method](num)
            },
            subTime(num = 1){
                let method = this.getTimeMethod('sub')
                num = this.view == 'years'? 12 : 1
                
                this[method](num)
            },

            // Range specific
            // -----------------------------
            inRange(day){
                if(this.type !== 'range' || this.selected == null) return false

                let rangeStart = this.selected[0]
                let rangeEnd   = this.isSelectingRange? this.rangeHover : this.selected[1]

                if(rangeEnd == null) return false

                return day.isBetween(rangeStart, rangeEnd)
            },
            isRangeStart(day){
                if(this.type !== 'range' || this.selected == null || (this.rangeHover == null && this.selected[1] == null)) return false

                return day.format('DMY') == this.selected[0].format('DMY')
            },
            isRangeEnd(day){
                if(this.type !== 'range' || this.selected == null || (this.rangeHover == null && this.selected[1] == null)) return false

                let end = this.selected[1] == null? this.rangeHover : this.selected[1]
                return day.format('DMY') == end.format('DMY')
            },
            inFullRange(day){
                return this.inRange(day) || this.isRangeStart(day) || this.isRangeEnd(day)
            },
            marshallDayEnter(day){
                if(this.type == 'range' && this.isSelectingRange){
                    if(day.isAfter(this.selected[0])) this.rangeHover = day
                }
            },
            marshallDayLeave(day){
                if(this.type == 'range' && this.rangeHover !== null){
                    if(this.rangeHover == day) this.rangeHover = null
                }
            },
            selectRangeDate(date){
                // If we currently only have a start date
                if(this.selected !== null && this.selected.length == 1){
                    // Check if we need to deselect an already selected date
                    if(this.isSelected(date)){
                        this.deselect(date)
                    
                    // Check if we're selecting a date before the current selected date
                    // If yes, use as the start date instead
                    }else if(date.isBefore(this.selected[0])){
                        this.selected = [date]

                    // Push the date into the selected array
                    }else{
                        this.selected.push(date)
                    }

                    return false
                }

                // If we currently have a full range
                if(this.selected == null || this.selected.length == 2) this.selected = [date]
            },

            changeView(view){
                this.view = view
            },

            selectDay(day){
                this.select(day)
            },

            selectMonth(month){
                if(this.picks == 'months'){
                    return this.select(month.startOf('month'))
                }

                this.focusOn(month, 'days')
            },

            selectYear(year){
                if(this.picks == 'years'){
                    return this.select(year.startOf('year'))
                }

                this.focusOn(year, 'months')
            },

            replaceAll(str, search, replacement) {
                return str.split(search).join(replacement)
            },
        }
    }
</script>


<style scoped>
    .shadow-datepicker{
        box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.15), 0 1px 6px -2px rgba(0, 0, 0, 0.075);
    }
</style>